div, span {
    position: relative;
}

.navbar_container {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    position: absolute;
    z-index: 1;
    background-color: transparent;
} 
.voosh_logo {
    height: 8vw;
}
@media (min-width: 992px) {
  .voosh_logo {
    height: 4vw;
  }
}
  



.page1_container{

    height: 100vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
 
.landing_bg_container {
    width: 100%;
    display: flex;
    height: 100%;
}
  
.landing_bg_icon {
    width: 100%;
    object-fit: cover;
    height: 100%;
    display: flex;
}
  
.page1_title_container_content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
@media (min-width: 992px) {
    .page1_title_container_content {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
    }
}

.page1_title_container {
    padding: 20vw 50px 0px 50px;
    height: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
    
.page1_title_container .title {
    font-size: 4.5vw;
    font-weight: bold;
}
    
.page1_title_container .subtitle {
    font-size: 2.5vw;
    font-weight: 500;
    margin-top: 5vw;
}
@media (min-width: 992px) {
    .page1_title_container {
        width: 50%;
        height: 100%;
        padding: 0px 0px 0px 4vw;
    }
    .page1_title_container .title {
        font-size: 2.5vw;
    }
    .page1_title_container .subtitle {
        font-size: 1.1vw;
        margin-top: 30px;
    }
}
.three_lines {
    position: absolute;
    height: 4vw;
    width: 4vw;
    bottom: 75vw;
    right: 45vw;
}
            
.my_profile_container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}
            
.my_profile_icon {
    width: 33vw;
    margin-bottom: 1vw;
}
@media (min-width: 992px) {
    .my_profile_container {
        width: 50%;
        height: 100%;
        padding: 0px 0px 0px 0vw;
    }
    .my_profile_icon {
        width: 33vw;
        margin-bottom: 1vw;
    }
}
.three_lines {
    height: 2vw;
    width: 2vw;
    bottom: 46vw;
    right: 45vw;
}
                  
                
.arrow_img {
    height: 20%;
    width: 20%;
    margin-left: 50px;
}
                
.arrow_img_container {
    margin-top: 10px;
}  

.button_arrow_container {
    margin-top: 5vw;
    width: 100%;
}
@media (min-width: 992px) {
    .button_arrow_container {
        margin-top: 50px;
    }
}
                
.button_container_style {
    width: fit-content;
    margin-top: 20px;
    cursor: pointer;
    z-index: 1;
}
                
.margin_left {
    margin-left: 10px;
}
                
                
@media (min-width: 992px) {
    .page1_container {
    height: 100vh;
    }
}


.page1-outlet-container {
    position: absolute;
    bottom: 0vw;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0vw 0vw 2vw 2vw;
}
.page1-outlet-icon1 {
    width: 10vw;
    object-fit: contain;
    margin: 0vw 1vw 1vw 1vw;
}
.page1-outlet-icon2 {
    width: 10vw;
    object-fit: contain;
    margin: 0vw 1vw 1vw 1vw;
}
.page1-outlet-icon3 {
    width: 10vw;
    object-fit: contain;
    margin: 0vw 1vw 1vw 1vw;
}
.page1-outlet-icon4 {
    width: 10vw;
    object-fit: contain;
    margin: 0vw 1vw 1vw 1vw;
}
.page1-outlet-icon5 {
    width: 10vw;
    object-fit: contain;
    margin: 0vw 1vw 1vw 1vw;
}
.page1-outlet-icon6 {
    width: 10vw;
    object-fit: contain;
    margin: 0vw 1vw 1vw 1vw;
}
@media (min-width: 992px) {
    .page1-outlet-container {
        position: absolute;
        top: 0vw;
        width: 100vw;
        margin: 0vw;
        height: 100%;
    }
    .page1-outlet-icon1 {
        position: absolute;
        object-fit: contain;
        width: 5vw;
        bottom: 23vw;
        right: 40vw;
    }
    .page1-outlet-icon2 {
        position: absolute;
        object-fit: contain;
        width: 5vw;
        bottom: 20vw;
        right: 60vw;
    }
    .page1-outlet-icon3 {
        position: absolute;
        object-fit: contain;
        width: 5vw;
        bottom: 1vw;
        right: 42.7vw;
    }
    .page1-outlet-icon4 {
        position: absolute;
        object-fit: contain;
        width: 5vw;
        bottom: 41vw;
        right: 13vw;
    }
    .page1-outlet-icon5 {
        position: absolute;
        object-fit: contain;
        width: 5vw;
        bottom: -3vw;
        right: 80vw;
    }
    .page1-outlet-icon6 {
        position: absolute;
        object-fit: contain;
        width: 5vw;
        bottom: 42vw;
        right: 28vw;
    }
}
                        
.button_container{
    background-color: #2D66F5;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    min-width: 80px;
    max-width: 100%;
    height: 50px;
                        
    cursor: pointer;
    text-decoration: none;
} 
                            
.button_container .text_button{
    color: white;
    font-weight: 600;
}
                        
.button_container .icon_style{
    height: 34px;
    width: 34px;
    margin-right: 6px;
}
 


  
 
